<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h5 class="text-primary">{{ myservice.AData }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>B Component</h2>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-4">
      <input type="text" placeholder="enter something" class="form-control" />
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
