<h2 class="text-primary p-5">Home Component</h2>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, expedita
  exercitationem labore sunt molestias quibusdam. Quos, unde repellat,
  recusandae expedita culpa neque fugiat deleniti sunt, debitis nesciunt nihil!
  Fugiat voluptate ullam reiciendis facilis error rerum blanditiis labore non,
  veniam debitis nisi asperiores odio quisquam sit exercitationem laboriosam eum
  iste maxime beatae? Tenetur, impedit numquam mollitia quasi fugiat tempore id
  explicabo? Molestiae quaerat delectus asperiores, nemo laboriosam ea commodi
  quo officia iste. Pariatur culpa ad, quis deserunt sed vel odit dolore dolorum
  repellendus perspiciatis placeat inventore, veniam soluta ipsum rerum earum
  illum adipisci nisi blanditiis ea voluptatem, voluptas sint? Ipsam ducimus
  voluptatibus, consequuntur distinctio cumque eius ullam atque similique saepe
  ea suscipit corrupti esse commodi, est quas quis. Totam, cumque illo
  cupiditate possimus suscipit temporibus, nobis pariatur dolorum error minus
  veniam corporis optio dicta? Libero atque ab esse obcaecati, necessitatibus
  doloribus officia sint amet doloremque dolorem quam consequuntur consectetur
  aliquid dicta laboriosam ex iure eum, architecto nulla. Necessitatibus,
  assumenda consequatur. Consequuntur officia, tempore cupiditate natus at
  eveniet sunt id dignissimos quod. Fugiat sint, rerum odit dicta praesentium
  beatae unde inventore temporibus aliquid vel perferendis, quaerat error, sit
  recusandae libero. Repudiandae quam neque voluptas quibusdam corrupti dolorem
  ipsa, optio iusto? Laboriosam vero totam perferendis eaque cupiditate. Maxime
  eligendi explicabo minus facilis nemo deserunt, totam consectetur
  reprehenderit ab maiores, nesciunt illo, expedita eum. Tempore, odit. Cum
  reiciendis dicta saepe iste at excepturi et vitae rem officiis quasi
  repudiandae quidem obcaecati ullam, incidunt vel labore eaque repellendus,
  reprehenderit voluptatem optio adipisci? Tenetur nihil inventore laborum
  debitis provident perferendis, est quisquam id sint, nesciunt, consequatur
  accusamus! Quisquam vel eius quibusdam aliquid quam ipsum, quaerat, vero quia
  rem doloremque rerum totam obcaecati! Repellendus laborum, aliquid cupiditate,
  iusto consequuntur impedit omnis excepturi iure maiores libero voluptatibus
  explicabo quis autem inventore ea aliquam vitae dolore, eum quos. Aspernatur!
</p>
