<div class="container">
  <mat-dialog-content>
    <h2 class="h3">Information</h2>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla,
      perspiciatis recusandae laboriosam minus dolores aspernatur. Cumque optio
      quas ut inventore. In quasi, pariatur, saepe fuga excepturi beatae ut
      necessitatibus aliquam sunt dolore obcaecati quae ab dicta quam amet
      repellendus laudantium provident, molestiae voluptatum. Minus, cupiditate
      praesentium quos ad quam nesciunt eligendi mollitia sed nobis beatae
      blanditiis consequuntur quo eos repellat aspernatur ex quasi iure error.
      Facere modi dignissimos incidunt rem voluptates magni eos, perferendis ea
      delectus vitae facilis molestias amet quisquam! Debitis odit culpa porro
      fugiat et. Placeat esse officia architecto odit, voluptate perferendis
      atque nostrum nemo molestiae modi temporibus.
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button>Proceed</button>
  </mat-dialog-actions>
</div>
