/* .ng-submitted input.ng-invalid {
  border: 3px solid red;
}
.ng-submitted input.ng-valid {
  border: 4px solid green;
} */

.inputValid {
  border: 2px dotted green;
}

.inputInvalid {
  border: 2px dashed red;
}
