<div class="container mt-5">
  <div class="row">
    <h2>Forms component</h2>
    <h5 class="h5 text-primary">Display two types of forms Here</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
      commodi assumenda laboriosam placeat officia quo et illum consequatur
      aliquam eos amet unde est mollitia, expedita suscipit nisi harum? Expedita
      ex delectus consectetur? Tenetur ipsam officia, aut harum adipisci esse,
      nobis error a exercitationem quia repudiandae impedit illum mollitia
      corporis. Distinctio possimus modi consectetur harum non corporis,
      recusandae dolor quae eligendi cum nihil aspernatur autem eum, nesciunt
      repellat tempore et fuga! Enim vero illo laudantium odit, accusamus
      similique dicta non unde ex omnis dignissimos ratione velit deserunt natus
      quaerat, nostrum laboriosam minus? Non veniam ducimus assumenda quidem
      sequi rem iusto? Excepturi.
    </p>
  </div>
  <div class="row">
    <div class="col-6">
      <a routerLink="tdf">Temlate Driven From</a>
    </div>
    <div class="col-6">
      <a routerLink="reactivef">Reactive Forms</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
