.bgimage {
  background-image: url("https://wallpapers.com/images/hd/glowing-contact-us-logo-qx58564q7a51etk6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
