<h2 class="text-primary">Professional Details</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore magnam esse
  odio suscipit molestiae, odit adipisci! Voluptate distinctio velit mollitia,
  animi dolorum esse inventore itaque quia earum voluptates reprehenderit ab
  illo rerum dolorem, architecto sed beatae consequuntur eos illum ullam iure
  provident assumenda. Optio numquam voluptate libero non repudiandae, nisi
  ipsum neque perferendis quod, eveniet sunt totam quidem molestiae esse
  laudantium excepturi, nesciunt facilis. Reiciendis magnam labore, repudiandae
  neque quas, vero omnis voluptates esse ipsam consectetur iure nobis minima,
  optio cupiditate atque pariatur in excepturi dolorem eaque! Veniam eveniet est
  eius reprehenderit libero labore sed, magnam quam delectus dolorum laboriosam.
</p>
