<div class="p-5">
  <h2>Electronics Page</h2>
  <div class="bgImage"></div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis accusantium
    delectus nisi, ducimus totam modi eaque fugit, sit fugiat quo excepturi
    voluptatem consequuntur incidunt ad unde, ut eveniet animi commodi
    blanditiis a. Voluptas mollitia deleniti perferendis soluta fugit
    voluptatibus, accusamus dolorem? Id, magni, consequatur ducimus repudiandae
    laboriosam voluptate tempora distinctio, similique perspiciatis pariatur
    placeat amet aspernatur? Magnam accusamus reprehenderit, ut placeat a quam
    accusantium aliquam laudantium quo ipsa error nulla expedita. Quisquam nihil
    sit doloremque nulla nisi dolores tenetur sunt? At facere cumque, hic
    dolorem veniam modi quidem unde quos! Officia animi laborum qui
    reprehenderit debitis. Quos dignissimos fugiat exercitationem.
  </p>

  @if(electronicsData.length > 0){
  <div class="d-flex flex-wrap justify-content-evenly">
    @for( product of electronicsData;track product){
    <div class="card w-25 mt-5 mx-3">
      <div class="card-header">
        <img [src]="product.image" width="250" height="200" />
      </div>
      <div class="card-body">
        <h4 class="h6">{{ product.title }}</h4>
        <p>${{ product.price }}</p>
        <a [routerLink]="'/productdetails/' + product.id"
          ><button class="btn btn-outline-success">Product Details</button></a
        >
      </div>
    </div>

    }
  </div>
  }
</div>
