<!-- <div class="container mt-5">
  <mat-horizontal-stepper labelPosition="bottom">
    <mat-step>
      <ng-template matStepLabel>Enter Username</ng-template>
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input type="text" matInput /> </mat-form-field
      ><br />
      <button mat-button matStepperNext>Next</button>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Enter Password</ng-template>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput /> </mat-form-field
      ><br />
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Submit Form</ng-template>
      <button mat-raised-button>Submit</button>
      <br /><br />
      <button mat-button matStepperPrevious>Previous</button>
    </mat-step>
  </mat-horizontal-stepper>
</div> -->

<!-- <div class="container p-5">
  <button mat-raised-button (click)="openMyDialog('3000ms', '2000ms')">
    Open Dialog
  </button>
</div> -->

<div class="container p-5">
  <mat-tab-group>
    <mat-tab label="First">
      <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
        dolorem asperiores tenetur corporis voluptate quae quisquam autem sit
        perspiciatis ex! Vitae obcaecati dolores quaerat quasi, blanditiis
        provident ipsa velit eum amet soluta in, tempore sequi labore incidunt
        debitis maiores dolore alias fugit voluptatem dolor. Necessitatibus,
        neque omnis natus quasi et fuga fugit quas alias. In iste eos iusto, est
        beatae explicabo magnam eum repellendus vero fuga assumenda eveniet,
        totam sunt non provident voluptates commodi minus earum obcaecati quam
        ex tenetur harum? Recusandae nam, modi ab dicta consectetur numquam
        voluptates praesentium itaque nesciunt cum, aut perferendis veniam nisi
        debitis ipsam atque.
      </p>
    </mat-tab>
    <mat-tab label="Second">
      <h2>Brand Names</h2>
      <ol>
        <li>Apple</li>
        <li>Samsung</li>
        <li>Oneplus</li>
      </ol>
    </mat-tab>
    <mat-tab label="Third">
      <h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
        autem error porro nostrum accusamus officia earum ullam dolore at
        itaque.
      </h3>
    </mat-tab>
  </mat-tab-group>
</div>
