<div class="text-center p-5 mt-5">
  <h4>Footer Component</h4>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, libero. Sequi
    pariatur officiis nisi autem veritatis quaerat veniam voluptas. Unde, quos
    nobis saepe expedita, corporis id commodi praesentium aspernatur quisquam
    iure fugiat et dolorem in iste, magnam porro! Corporis beatae nostrum
    maiores voluptatem saepe reiciendis maxime atque rerum autem, dolore soluta
    ratione deleniti, iure aliquid molestiae exercitationem quam esse laudantium
    quos, voluptatum inventore laborum? Ullam impedit velit ducimus recusandae?
    Iure error quo eum perspiciatis dolorem ullam sunt voluptatum itaque
    praesentium repellat culpa totam minima sequi rem rerum reiciendis odio
    dolores, similique delectus cum. Tempora recusandae beatae animi, repellat
    expedita magni?
  </p>
  <h2>All rights are Reserved</h2>
</div>
