<div>
  <h2>Footer Component</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illo
    corporis veritatis, voluptatem vero molestiae facilis eius suscipit. Totam
    cumque laudantium voluptatem nostrum, officiis nemo eaque impedit deleniti
    sunt expedita debitis suscipit nobis voluptates accusantium quasi, officia
    at, laborum voluptas aspernatur ipsum voluptatibus. Iure vel obcaecati porro
    quas ducimus eveniet dolor recusandae quidem, earum dolorem ea vitae dolores
    voluptas esse ex exercitationem eligendi reiciendis alias iusto fugiat
    doloremque explicabo. Quae obcaecati consectetur, non enim delectus numquam
    officiis ipsam quos corporis modi assumenda tempora officia dolore qui,
    minus aperiam at optio aspernatur soluta totam molestias. Laboriosam veniam
    temporibus ipsa, accusantium delectus sapiente facere minima, ex obcaecati
    voluptate qui aperiam quis? Repellat dicta vel praesentium culpa id amet
    quisquam laboriosam. Sint neque itaque suscipit aut? Recusandae maxime enim
    eum quaerat totam? Veniam nostrum debitis voluptatibus numquam dolores, sint
    facere amet maiores temporibus laboriosam sequi esse repudiandae non.
    Explicabo mollitia amet et dolore.
  </p>
</div>
