<div class="container p-5 mt-3">
  <div class="row">
    <h2>Profile Component</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit optio
      impedit, commodi ab a earum veritatis vitae velit corporis architecto
      nesciunt! Nemo rerum deleniti illo adipisci ipsa quod omnis nihil rem
      perspiciatis animi. Quas harum, cupiditate recusandae assumenda vitae
      maiores saepe enim amet tempore exercitationem aspernatur a, nam
      obcaecati. Fugiat totam mollitia eveniet eaque nostrum natus? Ipsum a enim
      nemo mollitia, facilis repellendus error quae ab sint, totam eaque id ad
      officia atque magni nostrum voluptatum eos consectetur, maiores aspernatur
      voluptas. A, enim? Quasi, eius. Dicta obcaecati doloribus labore officiis
      quis neque accusantium maiores cum eveniet non harum, architecto vero?
    </p>
  </div>
  <div class="row">
    <div class="col-4">
      <a routerLink="education">Educational Details</a>
    </div>
    <div class="col-4">
      <a routerLink="professional">Professional Details</a>
    </div>
  </div>

  <div class="row mt-5">
    <h2>Child Component's</h2>
    <router-outlet></router-outlet>
  </div>
</div>
