<div class="container mt-5">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 form-check">
      <input
        checked
        type="radio"
        name="category"
        class="form-check-input"
        value="all"
      />ALL
    </div>
    <div class="col-2 form-check">
      <input
        type="radio"
        name="category"
        class="form-check-input"
        value="electronics"
      />Electronics
    </div>
    <div class="col-2 form-check">
      <input
        type="radio"
        name="category"
        class="form-check-input"
        value="jewelery"
      />Jewelery
    </div>
    <div class="col-2 form-check">
      <input
        type="radio"
        name="category"
        class="form-check-input"
        value="mens"
      />MensClothing
    </div>
    <div class="col-2 form-check">
      <input
        type="radio"
        name="category"
        class="form-check-input"
        value="womens"
      />WomensClothing
    </div>
    <div class="col-1"></div>
  </div>
</div>
