<div class="container">
  <div class="row">
    <div class="col-4">
      <img [src]="productDetails.image" width="100%" height="400" />
    </div>
    <div class="col-8 p-3">
      <dl>
        <dt>
          <b>Product Name</b>
        </dt>
        <dd>{{ productDetails.productName }}</dd>
        <dt>
          <b>Price</b>
        </dt>
        <dd>{{ productDetails.price }}</dd>
        <dt>
          <b>Category</b>
        </dt>
        <dd>{{ productDetails.category }}</dd>
        <dt>
          <b>Description</b>
        </dt>
        <dd>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa cum
            corrupti quisquam? Animi dolorem assumenda deserunt vitae ullam
            molestias magnam hic vel sit quia ratione qui, doloremque corporis
            voluptates quisquam repellendus iure mollitia corrupti dicta ea
            sequi praesentium atque exercitationem quo. Quam dolorem enim
            eveniet, commodi ea suscipit sapiente sequi dicta laudantium vel cum
            dolor nesciunt repudiandae laboriosam accusantium in optio, neque
            earum obcaecati maiores quae quisquam ex nemo tempora. Reiciendis
            repellat illum itaque repudiandae. Rerum quo animi rem fugiat esse
            fugit, ipsam eum? Quis dolorum, quisquam commodi cupiditate, dolor
            adipisci asperiores voluptatum facere omnis saepe provident
            necessitatibus harum! Aperiam?
          </p>
        </dd>
      </dl>
    </div>
  </div>
</div>
