<div>
  <h3>Footer Component</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magnam sunt
    adipisci pariatur facilis debitis unde quibusdam placeat in ab, eveniet
    distinctio et consequuntur labore ipsam libero assumenda laborum eos.
    Delectus illum et quisquam quaerat distinctio, sunt quam magni assumenda
    fugiat, voluptatum eius, id enim natus sint eum impedit ratione labore!
    Voluptatum at distinctio delectus veritatis laudantium, quo corporis
    excepturi nostrum harum culpa, ab sapiente qui minima libero minus deleniti
    ex neque odit ducimus? Molestiae id culpa mollitia veritatis, reprehenderit
    exercitationem consectetur similique soluta vel eum dolorem explicabo quam
    officiis inventore saepe nobis dolores possimus atque voluptatum quaerat
    autem repellat?
  </p>
</div>
