<div class="container p-5 shadow my-5">
  <div class="row">
    <div class="col-12">
      <h2>Home Page</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique
        adipisci sed at libero explicabo necessitatibus ducimus illo natus
        perferendis aliquid beatae asperiores, dolorum sunt ex repellat eum esse
        laborum commodi molestias vero tempore voluptate corrupti labore
        facilis? Fugit incidunt ducimus est culpa dolorem perspiciatis nam
        reprehenderit error omnis odio nobis praesentium minus, architecto animi
        impedit at rerum ab mollitia qui. Sequi, numquam omnis recusandae
        officia facilis quo doloribus! Explicabo eum incidunt fugit iste
        doloremque cum velit magni quis sed, tenetur placeat beatae aliquid
        veritatis libero provident minima quos distinctio ad. Voluptatibus
        delectus eum veritatis provident sunt, saepe, harum, accusantium non
        asperiores labore vel. Esse optio odio natus unde excepturi quo mollitia
        distinctio magni doloremque rerum odit repellendus dolorum, sunt quas
        praesentium autem? Illum, voluptatum porro autem voluptate possimus modi
        minima veniam, amet, omnis doloremque labore earum! Temporibus ut
        asperiores adipisci voluptatem laborum? Quam recusandae porro at, maxime
        tempore explicabo in.
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <div class="card">
        <img
          src="https://fakestoreapi.com/img/61IBBVJvSDL._AC_SY879_.jpg"
          width="100%"
          height="300"
        />
      </div>
    </div>
    <div class="col-8">
      <dl>
        <dt>Description</dt>
        <dd>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore
            temporibus natus? Perferendis harum adipisci autem, inventore
            consectetur repudiandae ut minus rem nihil. Maxime velit recusandae
            error officiis. Numquam quas velit non corrupti quibusdam veniam
            commodi cumque iste in. Laboriosam. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Ipsa, consequatur quas magni, rem
            corporis quidem iure consequuntur blanditiis accusamus nostrum
            repudiandae tempore ducimus adipisci aliquam nulla, maxime
            voluptates numquam vitae. Consequatur unde sit dolores voluptatem a
            repellat doloribus voluptatibus odio.
          </p>
        </dd>
      </dl>
      <button class="btn btn-outline-success" (click)="navigateToElectronics()">
        Shop Now
      </button>
    </div>
  </div>
</div>
