<div>
  <h2><i class="bi bi-person-circle"></i> Main Component</h2>
  <img
    src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-business-user-profile-vector-png-image_4830519.jpg"
    width="300"
    height="300"
  />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quasi
    harum nihil quod, asperiores molestias necessitatibus consectetur
    repudiandae aliquid molestiae excepturi voluptatibus ea quia qui, laborum
    voluptas magni, iste architecto perspiciatis a tempore laboriosam ut. Culpa
    ipsum, ullam deleniti vitae aliquid eligendi magni, molestiae aliquam,
    adipisci sunt assumenda quibusdam placeat sed iusto. In consectetur totam
    sapiente quasi rerum obcaecati omnis, ea debitis corporis ratione iusto
    beatae doloremque! Sequi delectus minus molestiae, quas impedit vero
    inventore necessitatibus eaque! Ratione culpa, veniam sapiente, quas laborum
    voluptatum non doloremque dolor, laudantium iste facilis! Architecto hic
    soluta rem mollitia doloremque molestiae nam vitae illo.
  </p>
  <button class="btn btn-primary">Profile</button>
</div>
